### Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [19]:
#importing libraries
import selenium
from selenium import webdriver
import pandas as pd

In [20]:
#importing driver
driver=webdriver.Chrome(r'C:\Users\Alby\Desktop\chromedriver\chromedriver.exe')

In [22]:
#getting url
url='https://www.naukri.com/'

In [23]:
driver.get(url)

In [24]:
#getting the search bar for jobs
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs

In [26]:
#passing keyword
search_jobs.send_keys('Data Analyst')

In [25]:
#passing job location
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_loc

In [27]:
#getting search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [28]:
job_title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f42d47a4-7880-41d0-9ac6-ebaf226b54c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9dd6d909-c6a9-4e52-b419-a1d282e9975d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="943884bf-ae8b-4602-ab00-243172638e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a0792f59-9a74-4170-9b55-7117880b0500")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1f9249bf-e720-45ba-a6b6-079b74a2e3e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="796cec31-f50b-4311-86c9-0308abc33bda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="909cb678-d179-4c93-bb8a-972e2fcdb001")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c51b1dd5-abc2-49ca-9775-c8a006552d3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="fc5096bd-d5dd-49df-a10e-111110e486ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1eddb0ce-0984-4ffd-ad9c-0d62033d2829")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a6e6df96-4d1a-4782-9056-3487048f328e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="291d8490-eb25-41ce-9a43-2505d93a1536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="076d423c-0ceb-44d3-b50a-51627bc7dd5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="34a63230-12b8-4497-89a8-ad04aeb4212c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b9061745-e00a-4e1e-9ef9-acb7ee49ffa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6d33b00f-7654-4af5-8426-08b55378f2bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ba141e54-db35-488e-b21b-0ec3268078e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="940ab845-0864-4eee-b5c7-c09417cef841")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7cde861f-8245-4aae-8b34-d99158ccf119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3237a450-5e32-4553-83cc-a5981e3ecb4c")>]

In [41]:
#extracting text
Job_title=[]
for names in job_title_tags:
    Job_title.append(names.text)
Job_title=Job_title[:10]
Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data analysts',
 'Data Analyst - Informatica MDM',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [30]:
#location tags
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="77f8a012-e56a-4606-8af1-bc7397bbeebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4bebe74a-fc0b-4766-a5cc-973a1cc92b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5b2ff4ef-2fb2-490a-9d53-e4f3924358c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="aa6acd5e-fb54-430f-8090-0221713053a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2ef06768-ae95-4056-b05d-76a77e9fdbde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4a0d0026-3bb4-4c0d-bab2-caf3a0b96369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="669f8554-c8e5-4a7c-abd9-740c1df8e2f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a03d742a-a994-4192-bf7a-93c0eb6d6946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2af0ebc0-f8a1-4940-91c8-414554524e0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e7bd6f9f-664c-4cd5-8172-73541f5628ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="40a5e3d0-6d16-4d71-bdb4-80aa4a79d796")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f8f968f8-1d89-4ae4-8783-eb652d885fa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f6b7e189-ddcc-4f82-9b46-0854bd8586c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b556c763-5cb0-4f80-bd3f-1594cd5f80cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a0c55843-d120-4a6a-9c3e-d97bd645f2ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b02c8198-5a6e-4fa5-901e-083ba636bcc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4bfb7f84-32dc-4e23-b0a8-4edef8503967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cde9d867-721d-44f1-b205-18878631ec40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7de7d2a6-5108-46dc-84a8-4f7cd2a53002")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="afca5608-9f58-45d5-ae03-b81e78c02be9")>]

In [42]:
job_loc=[]
for location in location_tags:
    job_loc.append(location.text)
job_loc=job_loc[:10]
job_loc

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [37]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="99128f28-0520-4eca-8f52-5da7a28df5a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1922c994-8374-4786-9965-a0a6cdfecf81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5ea9cf78-a5da-41ea-a8eb-277c128958f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="01331e0d-d990-4e93-a56e-c1b6d17a43c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2060e1fa-70cc-41e4-a499-9cdcef05f888")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cd82ed96-8d31-4392-b2bd-1a884e0b22c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="84267989-1735-4ddc-908c-ee5cda85378e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="060ec2d8-a4da-4c8d-9acb-88e257b2c3df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="94ba7d81-b360-4212-89ff-0519bc5bfa36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="303d84ed-2505-4238-884a-000933c2b306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="81d06be0-eca4-44f6-8d3d-86c0354be45c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cb279a1e-c710-4e63-b0b1-71bca3b33f0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8b63f1a4-0568-4c7a-98be-4e63b636ef35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f2229cfe-33f3-4fb0-b92e-c9b93959fdee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="14c15230-0679-4db0-9276-2716571951f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6e2005b4-117f-4c5f-a65f-342ed0cecd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bb4f4ead-06f6-4188-8f5f-52bafc9d56ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="04f1db87-7f97-4439-8d47-de134220fda1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d51fc9ae-92b8-4a52-91a6-44a9bbd52616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3d56f5b7-bcc1-447e-bcfc-5537768f23a6")>]

In [45]:
company=[]
for name in company_tags:
    company.append(name.text)
company=company[:10]
company

['Inflexion Analytix Private Limited',
 'Opex Global Services',
 'IBM India Pvt. Limited',
 'Shell India Markets Private Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'IBM India Pvt. Limited',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [39]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="80ae3d12-372a-4e1d-850e-f1afb2e729fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="80a2121c-2a6b-46b6-8468-d59d45c33227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="060498cc-f8e2-4cd1-9310-d4633a15f650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4004008c-19e3-4688-9504-0a6ecbe9d48a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9ff9f090-ca8b-4fe6-8682-7f072cf2ef0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="27f59909-64fa-49db-be29-b4d91c647572")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4024da1f-668a-4fe1-9eef-14901bd4e330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="49546ae2-4df4-4057-b6a1-30cc7c4e63be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="0b045891-2318-426b-9b19-3f9597535f6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ab13a353-fd1d-46ab-9a4c-89096ac52dff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9b881acf-7863-40f9-9563-3c04b87a55ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="361dfdb4-1e91-41d5-8487-b2d3af79dc3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bb5779d5-85e8-43fd-9286-0a02cb0d1a7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="039bb25e-4771-4a3f-9895-2dbfd518b32e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cd2f4ae5-f6fc-4e28-8229-3e99337da906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d1b406f8-97ce-413d-b419-d2061ae42d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2b41670b-7ecc-4322-92ee-247d6d21f907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="896a65d5-f418-401e-9c61-355675b1d4c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="84afd8b2-181e-4a7d-ba43-c6d688440201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e18d7eb3-6c18-46e3-b9c6-909851458b04")>]

In [44]:
experience=[]
for exp in exp_tags:
    experience.append(exp.text)
experience=experience[:10]
experience

['0-3 Yrs',
 '5-10 Yrs',
 '5-6 Yrs',
 '6-9 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs']

In [51]:
desc_url=[]
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in urls:
    desc_url.append(i.get_attribute('href'))
desc_url=desc_url[:10]
desc_url

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16236975664741384&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-data-lineage-opex-global-services-bangalore-bengaluru-5-to-10-years-070621904965?src=jobsearchDesk&sid=16236975664741384&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analysts-ibm-india-pvt-limited-bengaluru-bangalore-5-to-6-years-310521905299?src=jobsearchDesk&sid=16236975664741384&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-informatica-mdm-shell-india-markets-private-limited-bangalore-bengaluru-6-to-9-years-140621906532?src=jobsearchDesk&sid=16236975664741384&xp=4&px=1',
 'https://www.naukri.com/job-listings-excel-vba-jobs-bangalore-vba-data-analyst-jobs-mind-circus-innovation-mysore-mysuru-coimbatore-bangalore-bengaluru-0-to-1-years-140621006524?src=jobsearchDesk&sid=16236975664741384&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-analyst-2positions-immediate-joiners-bangalore-tech-mahindra-ltd-bangalore-bengaluru-4-to-8-years-100621005875?src=jobsearchDesk&sid=16236975664741384&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analysts-ibm-india-pvt-limited-bangalore-bengaluru-3-to-5-years-030621907521?src=jobsearchDesk&sid=16236975664741384&xp=7&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-dotsolved-india-pvt-ltd-chennai-bangalore-bengaluru-mumbai-all-areas-9-to-13-years-110621005895?src=jobsearchDesk&sid=16236975664741384&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-myntra-designs-pvt-ltd-bangalore-bengaluru-3-to-5-years-090621901095?src=jobsearchDesk&sid=16236975664741384&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-myntra-designs-pvt-ltd-bangalore-bengaluru-3-to-8-years-080621910502?src=jobsearchDesk&sid=16236975664741384&xp=10&px=1']

In [54]:
from selenium.common.exceptions import NoSuchElementException

In [64]:
job_desc=[]
for url in desc_url:
    driver.get(url)
    try:
        desc_tags=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_desc.append(desc_tags.text.replace('\n',''))
    except NoSuchElementException:
        job_desc.append('none')
        
job_desc

["Job Role : Data Scientist/Data Analyst /Business AnalystLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/DelhiGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.Call to schedule interview Monday -Saturday from 10:00 am to 7PmAlexandria A - +91 76958 88879Manigandan -+91 93444 57360Email :alexandriaa@centerforaia.commanigandan@centerforaia.comWhat is needed from you?Freshers who wish to start their career in Analytics and AI and professionals who wish toupskill or change their domain to analytics and emerging technologies are free to apply.An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCASkills relating to Mathematics/Statistics.Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualizationGood verbal and written communication skillsAbility to understand domains in businesses across various sectorsSelection procedure includesAptitude Test & Communication Exam - Online / OfflineSQL/Python test - Online / OfflineCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.All the Shortlisted candidates will be eligible to continue the corporate training with CAIAWhat you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:SQL & PLSQLData Wrangling using PythonData Visualization Using Power-BIStatistics for Machine LearningArtificial Intelligence, Data InterpretationSupervised & Unsupervised Learning,NLP & Deep LearningCloud Data LakeBusiness intelligence & Data VisualizationSimulation ProjectsExpected Outcome?At the end of the Training you are expected to be well versed with the following:Analysis of large and complex data sets from multiple sourcesDevelopment and evaluation of data analytics models, algorithms and solutionsUnderstanding/implementation of ML algorithms, performance tuning and reportingImplementation of algorithms to mine targeted data and the ability to convert data in to a business storyTranslation of business requirements into technical requirements; Data extraction, preparation and transformationIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organizationRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersFinding analytical solutions to abstract business issues.Apply objective analysis of facts before coming to a conclusionAbout CAIA - Inflexion Analytix Private LimitedCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.Digital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.Our Website : http://www.centerforaia.com/https://inflexion-analytix-private-limited.business.site/?m=trueCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.",
 'Experience - 5 yrs To 10yrsRequirement details as belowJob Description :- Support delivery of the Data Quality Management and Data Architecture initiatives.- Provide business analysis, data discovery, data architecture expertise to enable delivery of the Business Data Architecture- Provide the Logical Data Model, Data Definitions, Data Standards and Data Quality rules for business-critical client data.- Develop the Logical Data Model, Data Definition, and data standards for CCIB Client coverage data- Lead the analysis of the data discovery work, identify enhancements to improve the quality of the data, and produce the data lineage artifacts required by data architecture.- Ensures proposed by data lineage designs aligns with the design work defined by Business Data ArchitectureExperience in the following :- Data discovery, reverse engineering, and other data lineage activities in a large organization, preferable a large bank- Data analysis of external vendor applications/packages, interfaces, and APIs in data architecture flows- Data modeling techniques and tools- Data governance and tools- Knowledge of Global Banking, its operations, and data.- Knowledge of the regulatory environment and the ongoing developments- Process, commercial and operational awareness needed to develop appropriate solutions.',
 'none',
 "The RoleTypically:• Manages key elements of one or more operational information and data projects. Assists in the gathering and evaluation of data. Evaluates data by interpretation, drawing practical conclusions from it and communicating data analysis results. Delivers on responsibilities for Sprint deliverables, when required.• Guides stakeholders in understanding analyses / outcomes and using them. Helps the business find the right answer to solve their business problems; determines feasible solutions contributing to the development of new business models. Influential at team level through oral presentations, business cases and investment proposals.• Works under broad guidance and supervision by Manager / Team Lead for complex activities.This job profile contains generic information and does not describe individual positions or required job competencies. Grading decisions will also depend on other factors.Technical and professional Experience:6-9 years of experience, including 3+ years of Master Data Management experienceShould have a strong technical background on Informatica MDM implementation projects.Candidate should relate business requirement and map it to the technical design in Informatica MDM.Should possess a hands-on experience in Hub console configuration, E360/IDD setup for User Interface.Understanding and practical exposure on Informatica Data Quality (IDQ) for profiling, Consolidation, Standardization Transformation and be knowledgeable on ETL capabilities using IDQ.On ground experience on ActiveVos configuration, tasks and process setup, SMTP configuration for email notification.Having exposure on Cloud MDM and AWS S3 concepts would be added advantage.Experience with Collibra Data Governance a plusSkills:Informatica MDM Hub Console, Informatica Data Quality (IDQ), IDD/Entity 360, ActiveVos, Oracle, SQLPrincipal Accountabilities/ Requirements:Strong Hands on experience in using Informatica MDM with Strong functional understanding of Master Data Management End to end MDM Hub Configuration Base Objects, Staging, Mapping, Cleanse Function, Match Rules, Validation, Trust and Batch Group IDD configuration with SAM Understanding of Batch Integration Data Load Process Hands on knowledge in Entity 360 IDD MDM Customization using Java SIF or Web service knowledge.Gather and interpret Informatica MDM hub functional specifications and user requirementsDesign data models within MDM Hub, and drive MD Hub Architecture, Conceptual and Physical Data Model definitionDesign and implement mappings for bringing data into MDM Hub from the source systemsGood knowledge in data flow between landing to stage to base objectConfigure MDM hub Batch Jobs and Batch Groups; design and implement MDM Hub events for auditing data changesConfigure Informatica MDM Hub Match and Merge Rules, coordinate Match Rule tuningAnalyzes Designs, configures and tests E360 interfaces requirementsDesign workflow customizations for Data Stewards using IDDIdentify gaps in current methodology of DQ programBuild DQ rules using Informatica IDQ tool stackWork with application team to onboard IDQ ID's for accessAssists with MDM/IDQ installation, product code migration, testing defect resolution, and initial data loadsHands on experience on rules, maps, mapletsAssess current Installation and domain configurationCapture existing server capacity to assess future demand of resourcesRecommend best practices around IDQ Development, Process, and AutomationMulesoft with Informatica MDM/IDQ team for technical support and design reviewsActiveVos configuration for workflow processGood understanding on task/process creation using ActiveVos, knowledge on monitoring, identifying blockers and correcting it.Understanding on reading ActiveVos logs, IDQ logsTrouble shooting on all Informatica toolsHosted MDM/ AWS S3 experience would be an added advantage.",
 'We are looking for female candidates freshers and experience both for Excel/ SQL Data Analyst Jobs Bangalore - Work from HomeJob Description for Excel/ SQL Data Analyst Job-Must have excel knowledge, V lookup, H Lookup, overall formulas in excel,Must have advanced excel knowledge, making of APIs, MS Word, MISBasic SQL knowledge and able to write SQL queriesTo write VBA functionsCreate macrosGenerate data reportsCompare excel filesData sortingConditional formattingWe are looking for female candidates ready to work from home and they need to have their own laptop/desktop along with internet connectivity',
 'none',
 'none',
 'Over all 9+years of experienceBuild a repeatable process and deliver analytics assets (reports, dashboards, KPIreadouts, etc.) to empower business teams and their leadership with insights and datadriven decision-making capabilitiesProactively identify, analyze, and interpret trends or patterns in complex and sensitivedata. Alert, inform and educate business as neededMonitor and ensure data integrity and security for business dataDefine best practices and templates for reporting data to business unitsImprove and advise on data normalization between various data sourcesMeasure and report on KPIs for businessCreate an intake process for ad hoc report demandsEnsure data is set up and accessible for the proper partiesMake recommendations for new metrics, techniques, and strategies to improve teamperformance and measurement in the future3+ years of data analysis and knowledge of business statistics3+ years of experience writing performant SQL queries on large data sets3+ years of developing scalable reporting solutions/products that are intuitive to useExpert level knowledge of Tableau, Looker, or similar BI platformsFamiliarity with cloud-native databases, especially SnowflakeStrong business intuition and outstanding written and verbal communication skillsAbility to convey complex concepts and information to diverse audiencesTrack record of working independently, with strong time management and organizationalskillsComfort working in a globally distributed environment with a remote workforceExperience performing complex analysis including regression, forecasting andprobability modeling is a plusBA/BS in quantitative field or equivalent practical experiencePrior experience in a consulting environment is desiredPerks and Benefits',
 'About the CE Team:The Customer Experience team represents the voice of Myntras customers. This team has an enterprise wide vision and works with all functions (Supply Chain, Category, Technology, Contact Center, Marketing & Revenue, Operations, Cataloging etc) to ensure sustained performance across every leg of the customer journey. This entails strong cross functional understanding and stakeholder management to drive immediate action and process changes.The team is comprised of a strong mix of analytical storytellers who turn data into actions. It also owns the customer experience index and is entrusted with providing the organization real time consumer insights. To that end, it relies on diverse capabilities including a strong analytics team, VOC Analysis, Market Research Cell, Customer Immersion Program and a store front lab.What we are looking for:Strong problem solving ability - Candidate needs to exhibit structured thinking, strong Analytical Skills and Process OrientationStrong in Data analytics - Candidate should be proficient in SQL and should have basic understanding of R/ Python. Should be highly proficient in Excel; Knowledge of visualization tools like R-Shiny, Tableau is preferredHighly Action Oriented – Myntra as a culture has a strong bias for action and speed of implementation. A data analyst will need to own projects from conceptualization to executionOrientation / past background in Technology is preferred, not mandatoryData Analyst Responsibilities:Understand and analyze data to drive business insightsData visualization for easy consumption of data with senior managementStrong process orientation and ability to learn quicklyDrive change in tech/process backed by dataMonitoring and providing feedback loop during execution of various initiatives.',
 'Data Analyst in WFM & Analytics @ Myntra, BangaloreAbout the CC Team:The CC team represents the voice of Myntras customers. This team works on all legs of customers query and complaints cycle to ensure sustained performance from in-house and partner teams. This entails strong cross functional understanding and stakeholder management to drive immediate action and process changes.The team is comprised of a strong mix of analytical storytellers and planners. It also owns the key call center indices and is entrusted with providing the organization real time consumer insights on key customer pain areas.What we are looking for:Strongproblem solving ability – Candidate needs to exhibit structured thinking, strong Analytical Skills and Process OrientationStrong in Data analytics – Candidate should be proficient in SQL and Python. Should be highly proficient in Excel; Knowledge of statistics is preferred.Highly Action Oriented – Myntra as a culture has a strong bias for action and speed of implementation. A data analyst will need to own projects from conceptualization to executionOrientation / past background in Data Engineering is preferred, not mandatory.Data Analyst Responsibilities:Understand and analyze data to drive business insightsData visualization for easy consumption of data with middle management.Strong process orientation and ability to learn quicklyMonitoring and providing feedback loop during execution of various initiatives']

In [65]:
Data_analyst_jobs=pd.DataFrame({})
Data_analyst_jobs['Job_title']=Job_title
Data_analyst_jobs['Company']=company
Data_analyst_jobs['Job_location']=job_loc
Data_analyst_jobs['Experience_required']=experience
Data_analyst_jobs['Description']=job_desc
Data_analyst_jobs

,Job_title,Company,Job_location,Experience_required,Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs,Job Role : Data Scientist/Data Analyst /Busine...
1,Senior Data Analyst - Data Lineage,Opex Global Services,Bangalore/Bengaluru,5-10 Yrs,Experience - 5 yrs To 10yrsRequirement details...
2,Data analysts,IBM India Pvt. Limited,Bengaluru/Bangalore,5-6 Yrs,none
3,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs,The RoleTypically:• Manages key elements of on...
4,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",0-1 Yrs,We are looking for female candidates freshers ...
5,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,Bangalore/Bengaluru,4-8 Yrs,none
6,Data analysts,IBM India Pvt. Limited,Bangalore/Bengaluru,3-5 Yrs,none
7,Business Data Analyst,"dotSolved India Pvt., Ltd.","Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",9-13 Yrs,Over all 9+years of experienceBuild a repeatab...
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs,About the CE Team:The Customer Experience team...
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-8 Yrs,"Data Analyst in WFM & Analytics @ Myntra, Bang..."

### Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [656]:
#getting url
url='https://www.naukri.com/'

In [657]:
driver.get(url)

In [658]:
#getting the search bar for jobs
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs

In [659]:
#passing keyword
search_jobs.send_keys('Data Scientist')

In [660]:
#getting search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [677]:
#job titles/company/location and description tags
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_name = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
job_location = driver.find_elements_by_xpath("//span[@class = 'ellipsis fleft fs12 lh16']")

In [678]:
job_title=[]
location=[]
Company_name=[]
for i in job_tags:
    job_title.append(i.text)
for j in company_name:
    Company_name.append(j.text)
for k in job_location:
    location.append(k.text)

In [679]:
job_title

['Data analytics / Data scientist intern (work from Home)',
 'Senior Data Scientist / Lead (Predictive Analytics)',
 'Data Science- Associate Data Scientist',
 'Associate Data Scientist',
 'Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist',
 'Data Scientist - Senior',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Machine Learning/Hadoop',
 'Senior Data Scientist - SQL/Spark/Python',
 'Co-Founder & Principal Data Scientist/Senior Scientist - NLP/Python',
 'Sr Data Scientist ( From Service Industry )']

In [680]:
location=location[2::3]
location

['Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai',
 'Pune',
 'Pune(Baner)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Ernakulam',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'New Delhi',
 'Pune, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Mumbai, Thane, Navi Mumbai',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Chennai']

In [681]:
Company_name

['TalkValley LLC',
 'AVE-Promagne',
 'Jet2 Travel Technologies Pvt. Ltd.',
 'AlgoAnalytics Private Ltd.',
 'RedBus',
 'RedBus',
 'Dexlock',
 'Fractal Analytics',
 'FICO',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Intellimation Market Services Limited',
 'IBM India Pvt. Limited',
 'Mphasis Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Decision Point',
 'Datamatics Business Solutions',
 'Benovymed Healthcare',
 'AVE-Promagne']

In [682]:
desc_url=[]
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in urls:
    desc_url.append(i.get_attribute('href'))
desc_url=desc_url[:10]
desc_url

['https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16239538672797851&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-lead-predictive-analytics-ave-promagne-chennai-7-to-10-years-140621900598?src=jobsearchDesk&sid=16239538672797851&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-science-associate-data-scientist-jet2-travel-technologies-pvt-ltd-pune-0-to-2-years-110621008316?src=jobsearchDesk&sid=16239538672797851&xp=3&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-algoanalytics-private-ltd-pune-0-to-1-years-160621002621?src=jobsearchDesk&sid=16239538672797851&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16239538672797851&xp=5&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16239538672797851&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-dexlock-ernakulam-2-to-6-years-020621500849?src=jobsearchDesk&sid=16239538672797851&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16239538672797851&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16239538672797851&xp=9&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16239538672797851&xp=10&px=1']

In [683]:
from selenium.common.exceptions import NoSuchElementException

In [684]:
job_desc=[]
for url in desc_url:
    driver.get(url)
    try:
        desc_tags=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_desc.append(desc_tags.text.replace('\n',''))
    except NoSuchElementException:
        job_desc.append('none')
        
job_desc

['We are a group of tenured professors from Tier-1 business schools in US universities. We teach machine learning and deep learning to master and PhD students. For our efforts with MentorStudents.org, we are looking to hire a team of interns who are interested in learning data science and analyze data under our supervision.Hours commitment: at least 42.5 hrs/weekDuration of the internship: 3 monthsRequired skills: Communication skills, Python, and OOPPerks (besides getting paid): Learn from professors who teach machine learning in the US+ internship completion certificate+ endorsement of your candidacy to US companies for a remote job via our placement business unit+ networking (check out https://MentorStudents.org)Next step / TEST for Selection:This test will help you present your resume better and improve your employability. Hence, it is in your interest to work on this test. Create a tutorial in Google doc on how to create a timeline in Tableau Public. Use events from your resume as events for the timeline. You are encouraged to look at https://public.tableau.com/en-us/gallery for inspiration. Send your Google doc link at jobs [at] mentorstudents [dot] org. Make sure to make the link publicly accessible so that our team can evaluate your work.',
 'Key RequirementsBe responsible for scaling our analytics capability across all internal disciplines and guide our strategic direction in regards to analyticsOrganize and analyze large, diverse data sets across multiple platformsIdentify key insights and leverage them to inform and influence product strategyTechnical Interactions with vendor or partners in technical capacity for scope/ approach & deliverables.Develops proof of concept to prove or disprove validity of conceptWorking with all parts of the business to identify analytical requirements and formalize an approach for reliable, relevant, accurate, efficient reporting on those requirementsDesigning and implementing advanced statistical testing for customized problem solvingDeliver concise verbal and written explanations of analyses to senior management that elevate findings into strategic recommendations.Key RequirementsExperience with any industry with HR analytical projects / Experience with Credit Risk Analytics4 years experienceSQL expertise, Strong in Python / R expertise, Strong in ML algorithms',
 'Roles and ResponsibilitiesWe, at Jet2 (UK’s third largest airlines and the second largest tour operator), have set up a state-of-the-art Technology and Innovation Centre in Pune, India. We are setting up a brand-new Data Science competency with an aim to harness the data assets scientifically to increase revenue, improve operational efficiency and deliver high quality service to deepen engagement with various stakeholders. We are looking for an Associate Data Scientist to join us in this exciting journey to transform our organization by leveraging data.As a part of J2TT, the successful candidate will play a pivotal role in the success of the new Data Science competency, the incumbent would work closely with other Data Scientists in the team and various stakeholders - Operations, HR, Marketing, Finance, Technology, Audit, Cyber Security etc. across multiple geographies (primarily in the UK & India). The candidate may need to engage with the CXO layer of the company as the competency matures while making required presentations on the progress made. The key success factor for this role would depend on contributing to Data Science use cases of high impact for the business, developing a watertight solution around the problem discovered leveraging data - mathematics - visualizations and finally industrializing the work product for commercial benefits. Developing expert knowledge on diverse set of data and comprehending business nuances of Jet2 on top of ML, AI and Data Science skill would put the candidate on a strong path to success. Because it is a high visibility program for the organization, it is imperative that incumbent help in the branding exercises through whitepaper publication, roadshows of innovative work products and data culture building in the organization.Key ResponsibilitiesThe successful candidate will be in a very hands-on role, will work with Data Scientists in Pune and collaborate with various stakeholders in Pune, Leeds, and Sheffield.Ideate, conceptualize, and formulate Data Science use case of significant impact for the businessDrive discussions with Business and Data Stewards to ensure the complete understanding with respect to the data science use case; Gain and demonstrate Data and Domain knowledgeEvaluate the Data Quality and Metadata information of Key Data Elements before any modelling effort to ensure minimal surprises in the later part of the projectDesign holistic data science solution covering Descriptive, Predictive & Prescriptive analyticsDevelop and evaluate various Machine Learning models before zero in on the best one and ability to run Machine Learning models on huge amount of dataBuild reusable ML code for faster turnaround time to business problem solvingExplain the Machine Learning model implementation to business stakeholders in a way that they can understand and appreciate the solutionBuild story telling dashboards to make all insights and model output available to end users in a form which is highly helpful for decision makingManage relationship with business stakeholders acting as embedded data scientist constantly thinking about data science solutions to make business betterExperience and KnowledgeGood understanding of the Machine Learning Model Development LifecycleHands-on experience of building ML solutionsGood understanding of various data architecture RDBMS, Datawarehouse & Big DataRich experience of working with regions such as US, UK, Europe, or AustraliaLiaise with the Data Engineers, Technology Leaders & Business StakeholderWorking knowledge of Agile frameworkSkills and Behaviours RequiredWe are looking for technologists who are passionate about data, analytics and technologyStrong technical skills in following key Data Science Tools & Technologieso Python, R, PySpark or Juliao RDBMS – MySQL, Oracle or SQLServero SQL Querying – Basic to Advancedo Story Telling Dashboard – Tableau or PowerBIo Advanced ML Framework – Scikit Learn, Good to have exposure of TensorFlow & PyTorchExcellent team player who acts as a key member of the team sharing knowledge & experienceStrong implementation and mathematical knowledge of Machine Learning ModelsSupervised: Linear Regression, Logistic Regression, Decision Tree, Random Forest, Neural Network, Nave Bayes, KNN, Support Vector MachineUnsupervised: k-mean clustering, DBScanRecommendation System: Association Rule Mining & Collaborative FilteringStrong industry implementation knowledge of Time Series Forecast ModelsUnivariate – SMA, Exponential Smoothing, ARIMA, fbprophetMultivariant – Vector Auto RegressorGood experience of current industry standard ML models – xgBoost, catBoost and Deep Learning Models e.g. CNN, RNN, LSTM, AutoencoderMethodical approach, with good attention to detailStrong communication skills – Ability to work with international teams and across culturesQualificationsBachelor’s degree or master’s degree in information technology engineering, Computer Science or equivalent from reputed instituteGood to have master’s degree in quantitative subjects e.g. Mathematics, Statistics & EconomicsPreference given to Kaggle Ranking and Data Science CertificationGood to have some background of Airlines or Travel domain',
 'Should have a passion for ML and AI. Should be able to create and optimize ML models from industrial scale data. Should have a good understanding of and proficiency in developing Deep learning models. Have strong programming skills in python or C++ and basic working knowledge of mathematical programsEducation Qualification: Bachelors or Masters in Computer Engineering, Mathematics or Statistics.Experience: 0-1.5 years experienceKey SkillsStrong Python/ programming skillsGood conceptual understanding of Machine Learning/Deep LearningGood conceptual understanding of Computer Vision and/or Natural Language ProcessingStrong verbal and written communication skillsWhat we offer: Work in a flat organization on analytics, machine learning, and deep learning tools, techniques and models.Remuneration consists of fixed Salary plus Bonus that is in line with industry standards.',
 'none',
 'none',
 'We are searching for a strategic and inquisitive senior Data Scientist who can lead a team and has the potential to adopt the best methodologies and processes for statistical analysis and modeling.Skills and QualificationsWorking Experience working with NLP and ML algorithms.Ability to train and deploy ML models in production systems.Preferable to have distributed data processing experience.Deep understanding in one among text-based ML, image/video/audio-based ML.Working experience with one among Pytorch, Tensorflow, or an equivalent.Experience with deploying ML models in high-performance throughput systems.',
 'Serve as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment.Willing to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project.Hands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects.Must Have8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstreamExperience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis.5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform.Statistical model building with 5 years of experienceBasic understanding of machine learning models development in python and leveraging AWS.Bachelors Degree in Engineering, Mathematics Analytics, Economics or BusinessNice to Have5 years of Knowledge and experience with SAS or SAS Viya platformExperience working with remote teams spread across the globeMachine Learning modelling experiencePython programming to build ML modelsAWS or equivalent other cloud based services knowledge SAS EGExperience working in a data analytics COE or in an analytics consulting company',
 'Job SummaryThe candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications.HeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.Research, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction.Identify data types to enable detection of cyber events.Test and validate developed algorithms on real operational data.Identify, define, and scope complex data analytics problems in the cybersecurity domain.Develop cross-domain strategies for increased network security and resiliency of the entire network.',
 'Position Description:The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.Job Responsibilities:Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadershipWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutionsFast learner: ability to learn and pick up a new language/tool/ platform quicklyConceptualize, design, and deliver high-quality solutions and insightful analysisConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problemsCollaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomesAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price OptimizationExperience Required:Minimum 10+ years of experience in Machine Learning domainExpert level proficiency in at least one of R and PythonAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithmsExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenanceProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomesIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basisWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to goGood to Have:Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systemsExperience of working in on one or more domains:CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain managementBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detectionHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuseExperience in working with Linux computing environment and use of command line tools like sed/awkGood grasp on databases including RDBMS, NoSQL, MongoDB etc.']

In [653]:
len(job_desc)

10

In [685]:
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['Job_title']=job_title[:10]
Data_Scientist_jobs['Company']=Company_name[:10]
Data_Scientist_jobs['location']=location[:10]
Data_Scientist_jobs['Description']=job_desc[:10]
Data_Scientist_jobs

,Job_title,Company,location,Description
0,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",We are a group of tenured professors from Tier...
1,Senior Data Scientist / Lead (Predictive Analy...,AVE-Promagne,Chennai,Key RequirementsBe responsible for scaling our...
2,Data Science- Associate Data Scientist,Jet2 Travel Technologies Pvt. Ltd.,Pune,"Roles and ResponsibilitiesWe, at Jet2 (UK’s th..."
3,Associate Data Scientist,AlgoAnalytics Private Ltd.,Pune(Baner),Should have a passion for ML and AI. Should be...
4,Senior Data Scientist,RedBus,Bangalore/Bengaluru,none
5,Immediate job opening - Senior Data Scientist,RedBus,Bangalore/Bengaluru,none
6,Data Scientist - Senior,Dexlock,Ernakulam,We are searching for a strategic and inquisiti...
7,Senior Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Serve as primary technical lead on all phases ...
8,Lead Data Scientist,FICO,Bangalore/Bengaluru,Job SummaryThe candidate should be a Cybersecu...
9,Lead Data Scientist,Fractal Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Position Description:The Artificial Intelligen...

### Q3
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [125]:
#getting url
url='https://www.naukri.com/'

In [126]:
driver.get(url)

In [127]:
#getting the search bar for jobs
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs

In [128]:
#passing keyword
search_jobs.send_keys('Data Scientist')

In [129]:
#getting search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [130]:
#location flter
loc_fil=driver.find_element_by_xpath("//span[@title = 'Delhi / NCR']")
loc_fil.click()

In [131]:
#salary filter
sal_fil=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_fil.click()

In [572]:
#job titles
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [143]:
job_titles=[]
for jobs in job_tags:
    job_titles.append(jobs.text)
job_titles=job_titles[:10]
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist']

In [144]:
# Finding the Job locations
job_location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bf358a41-25d7-4f40-a593-a34b58c5b450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="808a3c54-87d7-4ba4-9def-bcddd64b00a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ce6a41dd-28b1-48b5-b792-a87e4d849b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="02d1e166-3ccb-4a44-948c-e57310e21806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="be52eb1e-b752-40bf-a1ba-dd7928966ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="014478bc-5dca-4cbc-a3b9-6c4b467f6d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6d957d31-8db7-4cb1-a24c-11a304485da5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a98e7b82-b579-446c-9485-761036102c7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="021b15d8-056a-40e3-969e-97184564f5e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="57f716d0-9ee7-4b64-bf33-23f30ee84dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="60e5e83a-2e1e-4ef7-bfcd-fc6c532db3be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bd26ad68-bf37-42bf-bee2-acfed2905fdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="84f1edc2-28aa-4b80-a215-34b2ce2b22b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="65e36a79-1916-4ca5-a4b7-0734bb16b840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="510c2c5d-fd62-4a66-abc4-813fc352a901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="16c9c40d-8ec9-4de7-9ff9-f56c05ae7d56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="04700111-c921-43bb-a7ab-d77a55adea98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="334cc577-bcf4-4f64-9420-12c2be0ac98f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ec90e97f-c353-4a9b-988b-63ae4f05287a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="55a1cb7f-0b2b-4fc7-9597-09a26979f84f")>]

In [145]:
Job_location = []
for i in job_location:
    Job_location.append(i.text)
Job_location=Job_location[:10]
Job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [146]:
# Finding the company names
company_name = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="afeedb63-8fa4-4b31-847c-ee5a907fceb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1601a0d6-c9ae-4769-bd8b-4d48f3fe29b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d0e9c87f-cd69-4af4-8dd1-a599a1764d2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6846bbd9-97f3-499b-a02e-9232eccac2a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1abf7e90-a810-4c47-b9d6-6ae59abeb0a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f958e75d-f8a2-4c9b-9414-c7d25577579c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="531c96ee-903b-4991-9711-de2e5f6efb9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b85dea2d-93d6-4807-bcc5-defb5142a2fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7885c196-43e9-4f45-b39a-86d06acf6712")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="0a55e04a-70cd-4da9-901d-5a4413bd101e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="937390c2-b6ce-49da-b84d-da8d0419fecd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9d428154-1ad7-4266-8ce4-df82d7c475e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="abb6477a-19eb-41c5-a5ec-3cc78279d3f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="03b0cc90-437a-4c53-91e6-7d3eb10cf172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6160a7c0-cc04-4f4b-93ce-9a0834e4bd8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d5feb711-d4c8-4764-998c-e8683b638595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d24f6401-3ac8-4394-813f-f27c788488ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="df84d75b-c7dc-4804-97e6-0f0ecfe73cd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3fdf794d-6b79-4064-85c7-dea62119d5ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="acbce6f4-4c24-4c2e-a590-9ef39b112ed5")>]

In [147]:
Company_name = []
for i in company_name:
    Company_name.append(i.text)
Company_name=Company_name[:10]
Company_name

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist']

In [148]:
Exp_tags=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
Exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="75c18c94-d846-412f-aca6-ea3b6390ab79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c3fb459b-bbc5-4a1d-90eb-9a2bb8c8c392")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bf358a41-25d7-4f40-a593-a34b58c5b450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3c273b89-791a-4c0d-9f47-5937deaf8c18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="57ccf72d-bd73-45e2-8240-9dc01eb63b1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="808a3c54-87d7-4ba4-9def-bcddd64b00a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="14f13517-53eb-4a7a-ad9a-7c4029703c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2875291b-667f-4dab-b275-689c57b35b6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ce6a41dd-28b1-48b5-b792-a87e4d849b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="93ea59ff-0d83-4464-ad7a-42fbeb625962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1683b35f-e908-49a6-bf18-12aff1fba1d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="02d1e166-3ccb-4a44-948c-e57310e21806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="02979302-e563-4adb-818d-4c65d501d507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a235d06d-c87d-42ad-aa64-3582d44bd0af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="be52eb1e-b752-40bf-a1ba-dd7928966ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="60c48b7b-a3f6-400d-b5ce-01077ee4700e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1d9490cc-b81a-4d66-ba23-0f02ca7eced7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="014478bc-5dca-4cbc-a3b9-6c4b467f6d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5caa037c-087e-4e54-8460-88cca365bfa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bfa216ed-c809-4f7e-87fc-e5507e194794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6d957d31-8db7-4cb1-a24c-11a304485da5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5d64848e-ca50-48f1-8aa0-d39a968267d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7fe84d54-eac5-48b0-807a-13db298e4905")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a98e7b82-b579-446c-9485-761036102c7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cc2c458b-9800-4d91-a4c4-8425a4f86991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a1dfd3d7-41a6-4cb6-a51f-5166a4196cb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="021b15d8-056a-40e3-969e-97184564f5e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b9c0ad6c-effe-47d6-bf1b-bd9eef35aa09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="81f66eaa-87a3-4f7a-9182-f9c7a361cbe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="57f716d0-9ee7-4b64-bf33-23f30ee84dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ef834d93-30f5-41dd-b2ac-ff9464fa741b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="34751710-265d-44d4-84c9-89eb206944a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="60e5e83a-2e1e-4ef7-bfcd-fc6c532db3be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4987cc6a-f567-4f91-9223-7fcfc2bf92ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9f2ef6fa-6f15-4723-84c9-bcdbff243a6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bd26ad68-bf37-42bf-bee2-acfed2905fdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4ebd4ab5-5923-4a0f-8c90-844b1d16093c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9e27b47b-b595-4f0d-915e-6dc71b96ca30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="84f1edc2-28aa-4b80-a215-34b2ce2b22b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9adb7ca6-5ea2-41ad-83fa-6e7ead46c2d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9b04d8eb-aaf8-4cd2-bed2-7754b1c1bb6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="65e36a79-1916-4ca5-a4b7-0734bb16b840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1405eb36-98e6-413e-97e1-53b2fa48ec30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8f9b65d0-2967-4471-bfa2-d77f5ce34b45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="510c2c5d-fd62-4a66-abc4-813fc352a901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ddc0e4c1-6f6c-4e31-a91a-c4c7c8540959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3190a49b-3814-45a0-b7db-f99aa8eba489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="16c9c40d-8ec9-4de7-9ff9-f56c05ae7d56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a477d986-5b50-480a-b915-ac8d219e3682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="476af336-afb9-49e9-9ef8-0b35957f27af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="04700111-c921-43bb-a7ab-d77a55adea98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9e47eac1-5ef8-4096-accc-bdc0c66b1958")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="41ac99c9-1e07-4daa-a8fc-82834a432200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="334cc577-bcf4-4f64-9420-12c2be0ac98f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c2f3081e-fc96-4844-8b6c-f5176b321ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="069f52f8-8217-499e-97a4-0ea28403ca23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ec90e97f-c353-4a9b-988b-63ae4f05287a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="707136b1-99e1-403c-bff3-7c517b05b165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a9f9f13a-5b69-478c-b282-bf87e80097f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="55a1cb7f-0b2b-4fc7-9597-09a26979f84f")>]

In [149]:
experience=[]
for exp in Exp_tags:
    experience.append(exp.text)
experience=experience[0::3]
experience=experience[:10]
experience

['0-3 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [150]:
Jobs=pd.DataFrame({})
Jobs['Job_titles']=job_titles
Jobs['Job_location']=Job_location
Jobs['Company_name']=Company_name
Jobs['Experience_Required']=experience
Jobs

,Job_titles,Job_location,Company_name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Data Scientist / Data Analyst -Business Analyst,0-3 Yrs
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Data analytics / Data scientist intern (work f...,0-5 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos is Looking For Data Scientist,0-5 Yrs
3,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Data Scientist,3-7 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),Junior Data Scientist,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",We are hiring- Data Scientist +Python- Noida,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Data Scientist,2-5 Yrs
7,Data Scientist,Noida,Data Scientist,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,"Data Analyst/Scientist Big Data, Statistical T...",2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Business Analyst- Data Scientist,2-5 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [151]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [152]:
search_bar=driver.find_element_by_id('scKeyword')
search_bar

In [153]:
search_bar.send_keys('Data scientist')

In [154]:
#location
loc_bar=driver.find_element_by_id('scLocation')
loc_bar

In [155]:
loc_bar.send_keys('Noida')

In [156]:
#search button
search_button=driver.find_element_by_id('prefix__icon-arrow-1')
search_button.click()

In [162]:
#company_name
company_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
company_tags=company_tags[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ca547cff-523a-4edd-9c7b-4104e91777a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="489f9676-e974-47b1-9859-0c8161b19ab1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="76ef2ad2-0a82-4524-a768-f538c4109880")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a24e405b-2337-404f-a0bf-e06a07a9cd5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="89b1f215-2d84-4ebe-bb37-5451cc4ea559")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6acbd259-6dbf-4e80-8fe0-6e8c52695fda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9861ddeb-98e2-4fb6-b579-87bcaf5f745a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="487764ea-b858-4f6e-a458-41a09efe6faf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="89dcfb92-562f-4cc2-9483-fdbd6d708782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f81711b8-6d49-4e56-b7be-468e6b9bda43")>]

In [163]:
#extracting text
company=[]
for comp in company_tags:
    company.append(comp.text)
company

['Data Patterns',
 'Ginger Webs Pvt. Ltd.',
 'UnitedHealth Group',
 'Crowe',
 'Jubna',
 'Ericsson',
 'NatWest Group',
 'CRMNEXT',
 'Adobe',
 'MobiKwik']

In [166]:
#job_posted
days_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days_tags=days_tags[:10]
days_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2ba6f810-9124-4f68-9d6d-bc3edf6a14c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="00655bb5-69ec-4407-9737-4bc39c7a6c92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7e7f5b04-0025-40b6-b21f-a6a0ffb95cfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="05b0e399-580f-436f-bdaf-e0a20e21c81e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="101d9b11-9da5-406b-95a6-8e6573ceba77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="db4181ec-68bc-4f9f-8c6b-343e1a9c03e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="532259ac-b22e-4e00-a638-cb2c993b6557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="069aaf7d-92d9-4567-b5b4-c4237d54bbba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="758a91ad-f8e0-4426-ac8b-664564daf7f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c56efe72-972b-4aeb-9f05-fe5be5af992e")>]

In [168]:
#extracting text
Posted=[]
for day in days_tags:
    Posted.append(day.text)
Posted

['2d', '6d', '24h', '14d', '14d', '12d', '24h', '30d+', '3d', '1d']

In [169]:
rating_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating_tags=rating_tags[:10]
rating_tags

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6ee7c35b-5216-4ac3-9a5e-f6897ae83134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c7177083-59e5-43b1-bb2a-9128485cc761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="adf81274-9148-4b05-aa19-792878e98e6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5beaf57f-ac7b-4890-b5b7-23f392886d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="556ebff8-ad58-49c3-8fec-4411a699170d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a9f079d9-c43d-41ad-96bf-c3fb63f3d35a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="0ade9712-9806-4d0c-89d2-31bc063e09c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b8190ae6-dfbd-435c-906a-6582f975ed67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f62f1c84-2a4d-4051-9336-0de67b9f0445")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5ed6afcc-3b7e-475b-9edf-b6071803cb9f")>]

In [171]:
#extracting text
Rating=[]
for stars in rating_tags:
    Rating.append(stars.text)
Rating

['3.0', '3.7', '3.8', '4.1', '3.9', '3.7', '4.4', '3.9', '3.1', '5.0']

In [172]:
glass_door_datascientist=pd.DataFrame({})
glass_door_datascientist["company_name"]=company
glass_door_datascientist['Job_posted']=Posted
glass_door_datascientist["Rating"]=Rating
glass_door_datascientist

            company_name Job_posted Rating
0          Data Patterns         2d    3.0
1  Ginger Webs Pvt. Ltd.         6d    3.7
2     UnitedHealth Group        24h    3.8
3                  Crowe        14d    4.1
4                  Jubna        14d    3.9
5               Ericsson        12d    3.7
6          NatWest Group        24h    4.4
7                CRMNEXT       30d+    3.9
8                  Adobe         3d    3.1
9               MobiKwik         1d    5.0

### Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary

In [222]:
#url
url = ('https://www.glassdoor.co.in/Salaries/index.htm')
driver.get(url)

In [213]:
#search bar
job_search = driver.find_element_by_id('KeywordSearch')
job_search

In [214]:
job_search.send_keys('Data Scientist')

In [224]:
location bar
location_search = driver.find_element_by_id('LocationSearch')
location_search

In [225]:
location_search.send_keys('Noida')

In [219]:
search_button = driver.find_element_by_id('HeroSearchButton')
search_button.click()

In [226]:
#search button
search_button = driver.find_element_by_id('HeroSearchButton')
search_button.click()

In [228]:
#cmpany names
comp_name = driver.find_elements_by_xpath("//a[@class = 'css-f3vw95 e1aj7ssy3']")
comp_name

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7ef99cd6-4345-47c0-a701-756d9b5042f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3c8ebb8b-0a7c-42f5-bb5e-42d3848bb2d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="22a8282c-c971-42e4-80de-38697ceb085f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a4b5e0e3-ac53-4ba9-b72d-470b28a70beb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="fa403c2d-dc8a-4b5f-8e52-fffa268d4b1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3691ad7d-3bd9-4db9-8fa8-16afec11536e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a2591548-793d-4954-983f-d652294c240d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8ac13fdb-ff28-4258-adc4-f2f9e8051a94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5d8b0131-5957-4c62-955c-38f35fdb3762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="42116501-de0b-425b-8618-53cbb39efeaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="0c7fa810-bc47-40ca-a03c-2b2f4af249c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e2e706f4-f5c9-4b06-a479-ed6dde2f343d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="47085173-6947-45bd-b12e-057596529fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6e78d7d6-d4a2-4bb0-82a3-c3d22e06af5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="43b7f49c-032a-4d44-9bef-409264664f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e0ca1c89-c670-4350-9e97-9c3ebdb068ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b0e47c64-1cce-4128-bf08-2add16ed481c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="2d36f194-b509-402e-959a-a97537aa31fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3714fe73-4b2a-4e73-965d-9d4a5a0d086b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b54e51e2-c447-44fa-90bf-7f0547e8447b")>]

In [229]:
#extracting text
Comp_name = []
for i in comp_name:
    Comp_name.append(i.text)
Company_name = Comp_name[:10]
Company_name

['Tata Consultancy Services',
 'HCL Technologies',
 'Tata Consultancy Services',
 'Capgemini Engineering',
 'HCL Technologies',
 'Tata Consultancy Services',
 'Deloitte',
 'Capgemini Engineering',
 'Evalueserve',
 'Genpact']

In [259]:
#salary
sal = driver.find_elements_by_xpath("//span[@class = 'd-block d-lg-none m-0 css-1b6bxoo']")
sal

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ca3db47c-fc6d-4258-b196-090884a36ec0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f9b82272-b446-4706-8ca4-21b8dcd2bf00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bd780239-883c-434a-b3de-9070299489b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c7072cc5-ad42-4e37-bab8-f2e8392ce6f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="72d8d0cf-5c14-427a-adfd-1e9345e0bf48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="903e0ea7-d667-4083-b8fb-dfc73cb13923")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="73a7917c-5488-4635-aae2-66d67d6e3913")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="986ee791-8c66-48a7-9d8c-1095fbc8fdbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e8ec58c1-6143-4245-9fcb-ce3041a9f26a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b0fdd1df-1385-47c9-b974-b527e0e46a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cb1d2ecb-b24b-4fe2-ade3-8c650b36b74c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="fe4c2213-9e55-46c3-a44f-06c50e5c12e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="66c98811-3f0d-4d8b-80c0-ca0421c53385")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9f03b44e-cbf3-4ee5-9f04-ec7317a2fee9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e3d55c62-3105-4500-ac8d-b77c83c252bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8eb68a78-367c-427b-b9d9-6df9a5b43a3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b6829a9d-c6fc-45c3-91d6-963803dc4894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="226f65ce-1bdc-4f6b-9daa-a415d5d89a1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="fa12d551-dc55-4a55-a8fa-e019a19529d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9a2d20ce-41ed-40a9-bbcb-98d67c11b453")>]

In [260]:
all_salary = []
for i in sal:
    all_salary.append(i.text.replace('Range:','').strip())
all_salary=all_salary[:10]
all_salary

['₹1L - ₹13L',
 '₹1L - ₹37L',
 '₹55T - ₹86L',
 '₹47T - ₹52L',
 '₹1L - ₹71L',
 '₹1L - ₹41L',
 '₹1L - ₹65L',
 '₹76T - ₹20L',
 '₹2L - ₹50L',
 '₹1L - ₹19L']

In [261]:
#extracting min salary
minimum=[]
for i in all_salary:
    minimum.append(i[:4].strip())
minimum

['₹1L', '₹1L', '₹55T', '₹47T', '₹1L', '₹1L', '₹1L', '₹76T', '₹2L', '₹1L']

In [262]:
#extracting max salary
maximum=[]
for i in all_salary:
    maximum.append(i[6:].strip())
maximum

['₹13L',
 '₹37L',
 '₹86L',
 '₹52L',
 '₹71L',
 '₹41L',
 '₹65L',
 '₹20L',
 '₹50L',
 '₹19L']

In [265]:
#Average salary
avg = driver.find_elements_by_xpath("//h3[@class = 'm-0 css-g261rn']")
avg

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e1f6fed9-6894-4bb5-bf98-763615a71174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="95bce8f9-c723-4462-a82e-b2ebc9ca40d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="eecf1437-cce3-42e9-9f43-82356038c53c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d019e369-86c4-442a-b56a-2792beb7ce17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="19ab7390-744d-403d-943d-6319a83b5f23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="88da5963-4c53-4460-bce2-0e2a3e252c2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="477cca83-9d2c-4c4a-b934-d456e61db337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8760231b-6126-4705-83d4-bb75554962aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="91e098ca-84c9-46f7-a3db-8d1129bf8db4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="11aa77dd-452a-44e8-8cf6-59d5bcb7e941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8f52e3d2-4acd-40e2-b084-73d25eae50a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f19748b6-f96c-481b-a4fd-1e23c0757731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="014cea64-d472-4e55-b536-8c9abeac26c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="0fc58975-67de-4216-9c0a-7be971ee97df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c2601ed1-c7bf-412f-b6d4-9cb34225a19c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b8c139dd-87ac-46bd-ab8b-0626ab2e237a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="4a032ad8-550b-46cd-9528-1260ade28c8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e1b0afe7-226b-4ed8-896b-297096b7fe72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="414e7c0d-96d6-4250-b9df-00e15350eacc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="bf5f11bc-c82f-421a-a51d-b96390d27707")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="549dcc6d-7db7-4c89-a550-f08bd84995a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e79dfd2d-93de-4d61-904c-3b9819af8005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9dea0922-d906-42da-ab77-d17cdbd64284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="458b75a7-eb18-4c79-8dfc-73b13c602b09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b751e432-cb9c-46cc-b589-a1eaf8776fb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="58b3d54f-5ca1-456a-8d53-23aa6e41a8a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c38c9dfe-d077-4650-a9f0-3ff82282427d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cf0b0d2f-b325-4725-ba8a-a054f646be55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="5c729535-6a27-443f-b454-0cbc699f1574")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="02a11c20-7659-46a8-983c-1a493357d448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="fa7f937f-2315-4418-824f-5800bf331a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="ec88e72e-c844-4262-8ed7-e166becd2d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7ec35086-7965-4a9b-8587-cd7a8c882a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9876d82b-22fa-4822-a8dc-2d3840bb1dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="c3a69967-eea7-41a4-9b3a-599d6e8b280c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9550a1be-a635-416a-af68-eb878bac9c90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="a83bfa13-8ff1-4c12-9b3a-7ba211c86e1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="9254bafe-de75-4370-b165-9d97489bebdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="765d80e0-0cf4-44ad-b513-39bd38c76013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e7b543b4-8644-4718-a2f5-85e5151a40ab")>]

In [274]:
avg_salary = []
for i in avg:
    avg_salary.append(i.text.strip())
avg_salary=avg_salary[1:20:2]
avg_salary

['₹4,00,000',
 '₹4,40,446',
 '₹6,54,292',
 '₹4,54,488',
 '₹6,15,002',
 '₹4,40,446',
 '₹10,21,037',
 '₹8,09,498',
 '₹5,99,918',
 '₹2,18,885']

In [275]:
Company_Salary=pd.DataFrame({})
Company_Salary['Company']=Company_name
Company_Salary['Min_Sal']=minimum
Company_Salary['Max_Sal']=maximum
Company_Salary['Avg_Sal']=avg_salary
Company_Salary

                     Company Min_Sal Max_Sal     Avg_Sal
0  Tata Consultancy Services     ₹1L    ₹13L   ₹4,00,000
1           HCL Technologies     ₹1L    ₹37L   ₹4,40,446
2  Tata Consultancy Services    ₹55T    ₹86L   ₹6,54,292
3      Capgemini Engineering    ₹47T    ₹52L   ₹4,54,488
4           HCL Technologies     ₹1L    ₹71L   ₹6,15,002
5  Tata Consultancy Services     ₹1L    ₹41L   ₹4,40,446
6                   Deloitte     ₹1L    ₹65L  ₹10,21,037
7      Capgemini Engineering    ₹76T    ₹20L   ₹8,09,498
8                Evalueserve     ₹2L    ₹50L   ₹5,99,918
9                    Genpact     ₹1L    ₹19L   ₹2,18,885

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [276]:
url=('https://www.flipkart.com/')
driver.get(url)

In [279]:
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar

In [280]:
search_bar.send_keys('sunglasses')

In [282]:
search_button=driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
search_button.click()

In [294]:
#next pages
page_urls=[]
urls=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
urls=urls[:3]
urls
for i in urls:
    page_urls.append(i.get_attribute('href'))
page_urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [297]:
Brand = []
for url in page_urls:
    driver.get(url)
    #brand
    brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
Brand=Brand[:100]
Brand

['Singco India',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Singco',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'DEIXELS',
 'GANSTA',
 'Fastrack',
 'AISLIN',
 'Silver Kartz',
 'NuVew',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'HIPPON',
 'PHENOMENAL',
 'PHENOMENAL',
 'ROYAL SON',
 'Singco India',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'NuVew',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'Poland',
 'Fastrack',
 'Singco India',
 'Cristiano Ronnie',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'PHENOMENAL',
 'Fastrack',
 'ROYAL SON',
 'elegante',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fravy',
 'hipe',
 'hipe',
 'ROYAL SON',
 'Fastrack',
 'DEIXELS',
 'NuVew',
 'AISLIN',
 'PHENOMENAL',
 'NuVew',
 'GANSTA',
 'Flizz',
 'NuVew',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'NuVew',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'Badfella',
 'ROYAL SON',
 'Wrogn',
 'NuVew',
 'AISLIN',
 'hipe',
 'kingsunglasses',
 'Poloport',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'NuVew',
 'hipe',
 'Silver Kartz',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'agera',
 'PHENOMENAL',
 'GANSTA']

In [298]:
Product_desc=[]
for url in page_urls:
    driver.get(url)
    #brand
    desc= driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
    for i in desc:
        Product_desc.append(i.text)
Product_desc=Product_desc[:100]
Product_desc

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Riding Glasses Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection, Riding Glasses, Mirrored Clubmaster Sung...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Aviator Sunglasses (60)',
 'UV Protection, Mirrored, Gradient, Riding Glasses, Nigh...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Mirrored Sports Sunglasses (73)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection, Gradient Aviator Sunglasses (57)']

In [299]:
Price=[]
for url in page_urls:
    driver.get(url)
    #brand
    price= driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
    for i in price:
        Price.append(i.text)
Price=Price[:100]
Price

['₹237',
 '₹541',
 '₹537',
 '₹237',
 '₹249',
 '₹404',
 '₹733',
 '₹299',
 '₹209',
 '₹237',
 '₹331',
 '₹213',
 '₹281',
 '₹674',
 '₹246',
 '₹156',
 '₹499',
 '₹251',
 '₹399',
 '₹399',
 '₹252',
 '₹349',
 '₹499',
 '₹217',
 '₹331',
 '₹319',
 '₹214',
 '₹282',
 '₹399',
 '₹1,085',
 '₹758',
 '₹210',
 '₹329',
 '₹449',
 '₹265',
 '₹199',
 '₹227',
 '₹199',
 '₹449',
 '₹399',
 '₹607',
 '₹162',
 '₹638',
 '₹399',
 '₹449',
 '₹237',
 '₹323',
 '₹319',
 '₹589',
 '₹199',
 '₹249',
 '₹449',
 '₹289',
 '₹219',
 '₹319',
 '₹759',
 '₹219',
 '₹248',
 '₹319',
 '₹367',
 '₹292',
 '₹399',
 '₹437',
 '₹399',
 '₹449',
 '₹499',
 '₹206',
 '₹237',
 '₹777',
 '₹764',
 '₹759',
 '₹279',
 '₹758',
 '₹699',
 '₹291',
 '₹449',
 '₹398',
 '₹260',
 '₹399',
 '₹576',
 '₹269',
 '₹399',
 '₹1,015',
 '₹310',
 '₹574',
 '₹249',
 '₹339',
 '₹249',
 '₹719',
 '₹399',
 '₹906',
 '₹367',
 '₹199',
 '₹284',
 '₹699',
 '₹339',
 '₹449',
 '₹207',
 '₹259',
 '₹233']

In [300]:
Discount=[]
for url in page_urls:
    driver.get(url)
    #brand
    discount= driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']")
    for i in discount:
        Discount.append(i.text)
Discount=Discount[:100]
Discount

['85% off',
 '32% off',
 '32% off',
 '85% off',
 '75% off',
 '79% off',
 '18% off',
 '88% off',
 '79% off',
 '85% off',
 '87% off',
 '82% off',
 '85% off',
 '25% off',
 '83% off',
 '79% off',
 '77% off',
 '79% off',
 '80% off',
 '80% off',
 '83% off',
 '70% off',
 '77% off',
 '78% off',
 '79% off',
 '78% off',
 '69% off',
 '75% off',
 '73% off',
 '16% off',
 '15% off',
 '85% off',
 '83% off',
 '79% off',
 '79% off',
 '80% off',
 '71% off',
 '80% off',
 '77% off',
 '80% off',
 '77% off',
 '80% off',
 '32% off',
 '67% off',
 '20% off',
 '87% off',
 '85% off',
 '84% off',
 '26% off',
 '80% off',
 '58% off',
 '80% off',
 '77% off',
 '78% off',
 '83% off',
 '15% off',
 '72% off',
 '84% off',
 '74% off',
 '85% off',
 '81% off',
 '73% off',
 '80% off',
 '70% off',
 '87% off',
 '66% off',
 '80% off',
 '22% off',
 '85% off',
 '15% off',
 '81% off',
 '15% off',
 '69% off',
 '83% off',
 '65% off',
 '80% off',
 '86% off',
 '73% off',
 '73% off',
 '73% off',
 '27% off',
 '73% off',
 '73% off',
 '68% off',
 '79% off',
 '62% off',
 '75% off',
 '87% off',
 '79% off',
 '73% off',
 '75% off',
 '70% off',
 '80% off',
 '76% off',
 '78% off',
 '78% off',
 '65% off',
 '77% off',
 '84% off',
 '87% off']

In [302]:
Sunglasses=pd.DataFrame({})
Sunglasses['Brand']=Brand
Sunglasses['Description']=Product_desc
Sunglasses['Price']=Price
Sunglasses['Discount']=Discount
Sunglasses

,Brand,Description,Price,Discount
0,Singco India,UV Protection Aviator Sunglasses (54),₹237,85% off
1,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
2,PIRASO,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹537,32% off
3,Fastrack,UV Protection Aviator Sunglasses (54),₹237,85% off
4,Fastrack,Mirrored Aviator Sunglasses (53),₹249,75% off
...,...,...,...,...
95,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹339,78% off
96,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",₹449,65% off
97,agera,UV Protection Round Sunglasses (54),₹207,77% off
98,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹259,84% off
99,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",₹233,87% off

### Q7. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [307]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [309]:
#the all reviews button
all_reviews=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
all_reviews.click()

In [372]:
#next_button
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
#getting info
Rating=[]
Short_review=[]
full_review=[]
for i in range(0,10):
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    s_review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    f_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in rating:
        Rating.append(i.text)
    for j in s_review:
        Short_review.append(j.text)
    for k in f_review:
        full_review.append(k.text.replace('\n'," "))
next.click()

In [373]:
Rating

['4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5']

In [374]:
Short_review

['Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome',
 'Nice product',
 'Good quality product',
 'Best in the market!',
 'Classy product',
 'Excellent',
 'Mind-blowing purchase',
 'Fabulous!',
 'Does the job',
 'Fabulous!',
 'Awesome']

In [375]:
full_review

["If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face... READ MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face... READ MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face... READ MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face... READ MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face... READ MORE',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me. And i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase. the device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am... READ MORE",
 'Product is nice at the deviled time the delivery boy not open the box and this order is oBD but he is not open and not showing product he gives Product and gone time God product is super nice and good Tq Flipkart and seller love you Flipkart Product is nice display good touch screen amazing compared to other brands over all Product is super. Tq Flipkart',

In [376]:
Iphone_reviews=pd.DataFrame({})
Iphone_reviews['Rating']=Rating
Iphone_reviews['Review_summary']=Short_review
Iphone_reviews['Full_review']=full_review
Iphone_reviews

,Rating,Review_summary,Full_review
0,4,Nice product,If you are looking for a premium phone under 5...
1,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
2,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
3,5,Classy product,We are on apple ecosystem for almost eight yea...
4,5,Excellent,A perfect phone and a good battery super camer...
...,...,...,...
95,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
96,5,Fabulous!,Product is nice at the deviled time the delive...
97,3,Does the job,phone is good but in display is 720p lcd in th...
98,5,Fabulous!,Everything is perfect pictures come out so cle...
99,5,Awesome,I dreamt about this day from a long time.... G...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [471]:
#getting url
url = ('https://www.flipkart.com/')
driver.get(url)

In [472]:
#search_bar
search_bar = driver.find_element_by_xpath("//input[@class = '_3704LK']")
search_bar.send_keys('sneakers')

In [473]:
#getting search button
search_button = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
search_button.click()

In [474]:
#next_button
next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
#getting info
Brand=[]
Product_Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    brand=driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
    desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']//span")
    for i in brand:
        Brand.append(i.text)
    for j in desc:
        Product_Description.append(j.text)
    for k in price:
        Price.append(k.text)
    for disc in discount:
        Discount.append(disc.text)
next.click()

In [475]:
Brand=Brand[:100]
Brand

['Chevit',
 'India hub',
 'CALCADOS',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'PEHANOSA',
 'Alfiya',
 'Stefano Rads',
 'bluemaker',
 'Numenzo',
 'HOTSTYLE',
 'Chevit',
 'Absolute comfort',
 'Birde',
 'ASTEROID',
 'HOTSTYLE',
 'restinfoot',
 'Chevit',
 'Birde',
 'SCATCHITE',
 'Chevit',
 'kardam&sons',
 'PUMA',
 'Kraasa',
 'Zsyto',
 'Chevit',
 'D-SNEAKERZ',
 'Zorth',
 'ORICUM',
 'bluemaker',
 'SPARX',
 'World Wear Footwear',
 'Chevit',
 'Aura',
 'TR',
 'SPARX',
 'PUMA',
 'PUMA',
 'Chevit',
 'India hub',
 'CALCADOS',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'PEHANOSA',
 'Alfiya',
 'Stefano Rads',
 'bluemaker',
 'Numenzo',
 'HOTSTYLE',
 'Chevit',
 'Absolute comfort',
 'Birde',
 'ASTEROID',
 'HOTSTYLE',
 'restinfoot',
 'Chevit',
 'Birde',
 'SCATCHITE',
 'Chevit',
 'kardam&sons',
 'PUMA',
 'Kraasa',
 'Zsyto',
 'Chevit',
 'D-SNEAKERZ',
 'Zorth',
 'ORICUM',
 'bluemaker',
 'SPARX',
 'World Wear Footwear',
 'Chevit',
 'Aura',
 'TR',
 'SPARX',
 'PUMA',
 'PUMA',
 'Chevit',
 'India hub',
 'CALCADOS',
 'Shoes Bank',
 'Robbie jones',
 'ORICUM',
 'KULP',
 'PEHANOSA',
 'Alfiya',
 'Stefano Rads',
 'bluemaker',
 'Numenzo',
 'HOTSTYLE',
 'Chevit',
 'Absolute comfort',
 'Birde',
 'ASTEROID',
 'HOTSTYLE',
 'restinfoot',
 'Chevit']

In [476]:
Product_Description=Product_Description[:100]
Product_Description

['Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'casual for men (beige 06) Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 'Corode IDP Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'casual for men (beige 06) Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 'Corode IDP Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Series 7 Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Combo pack of 2 Casuals Shoes For Men (1563-1564) Sneak...',
 'casual for men (beige 06) Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men']

In [477]:
Price=Price[:100]
Price

['₹448',
 '₹389',
 '₹748',
 '₹349',
 '₹474',
 '₹377',
 '₹489',
 '₹499',
 '₹377',
 '₹242',
 '₹474',
 '₹398',
 '₹283',
 '₹369',
 '₹199',
 '₹283',
 '₹499',
 '₹283',
 '₹379',
 '₹473',
 '₹661',
 '₹398',
 '₹472',
 '₹379',
 '₹1,506',
 '₹416',
 '₹398',
 '₹498',
 '₹365',
 '₹538',
 '₹472',
 '₹474',
 '₹630',
 '₹499',
 '₹719',
 '₹525',
 '₹449',
 '₹769',
 '₹1,419',
 '₹1,644',
 '₹448',
 '₹389',
 '₹748',
 '₹349',
 '₹474',
 '₹377',
 '₹489',
 '₹499',
 '₹377',
 '₹242',
 '₹474',
 '₹398',
 '₹283',
 '₹369',
 '₹199',
 '₹283',
 '₹499',
 '₹283',
 '₹379',
 '₹473',
 '₹661',
 '₹398',
 '₹472',
 '₹379',
 '₹1,506',
 '₹416',
 '₹398',
 '₹498',
 '₹365',
 '₹538',
 '₹472',
 '₹474',
 '₹630',
 '₹499',
 '₹719',
 '₹525',
 '₹449',
 '₹769',
 '₹1,419',
 '₹1,644',
 '₹448',
 '₹389',
 '₹748',
 '₹349',
 '₹474',
 '₹377',
 '₹489',
 '₹499',
 '₹377',
 '₹242',
 '₹474',
 '₹398',
 '₹283',
 '₹369',
 '₹199',
 '₹283',
 '₹499',
 '₹283',
 '₹379',
 '₹473']

In [478]:
#Discount
Discount=Discount[:100]
Discount

['70% off',
 '87% off',
 '62% off',
 '65% off',
 '52% off',
 '62% off',
 '51% off',
 '50% off',
 '62% off',
 '65% off',
 '52% off',
 '60% off',
 '43% off',
 '26% off',
 '60% off',
 '43% off',
 '75% off',
 '43% off',
 '62% off',
 '73% off',
 '66% off',
 '60% off',
 '76% off',
 '81% off',
 '49% off',
 '58% off',
 '69% off',
 '50% off',
 '44% off',
 '46% off',
 '52% off',
 '52% off',
 '15% off',
 '81% off',
 '71% off',
 '47% off',
 '77% off',
 '23% off',
 '56% off',
 '58% off',
 '70% off',
 '87% off',
 '62% off',
 '65% off',
 '52% off',
 '62% off',
 '51% off',
 '50% off',
 '62% off',
 '65% off',
 '52% off',
 '60% off',
 '43% off',
 '26% off',
 '60% off',
 '43% off',
 '75% off',
 '43% off',
 '62% off',
 '73% off',
 '66% off',
 '60% off',
 '76% off',
 '81% off',
 '49% off',
 '58% off',
 '69% off',
 '50% off',
 '44% off',
 '46% off',
 '52% off',
 '52% off',
 '15% off',
 '81% off',
 '71% off',
 '47% off',
 '77% off',
 '23% off',
 '56% off',
 '58% off',
 '70% off',
 '87% off',
 '62% off',
 '65% off',
 '52% off',
 '62% off',
 '51% off',
 '50% off',
 '62% off',
 '65% off',
 '52% off',
 '60% off',
 '43% off',
 '26% off',
 '60% off',
 '43% off',
 '75% off',
 '43% off',
 '62% off',
 '73% off']

In [479]:
#making dataframe
Sneakers=pd.DataFrame({})
Sneakers["Brand"]=Brand
Sneakers["Price"]=Price
Sneakers['Product_Description']=Product_Description
Sneakers["Discount"]=Discount
Sneakers

,Brand,Price,Product_Description,Discount
0,Chevit,₹448,Unique & Perfect Collection Combo Pack of 02 S...,70% off
1,India hub,₹389,White Sneaker For Men's/Boy's Sneakers For Men,87% off
2,CALCADOS,₹748,Sneakers For Men,62% off
3,Shoes Bank,₹349,Combo pack of 2 casual sneaker shoes for men S...,65% off
4,Robbie jones,₹474,Sneakers For Men,52% off
...,...,...,...,...
95,Birde,₹283,Combo Pack of 4 Latest Collection Stylish Casu...,43% off
96,ASTEROID,₹499,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,75% off
97,HOTSTYLE,₹283,Combo Pack of 2 Casual Shoes Sneakers For Men,43% off
98,restinfoot,₹379,Sneakers For Men,62% off
99,Chevit,₹473,SM-322 Sneakers For Men,73% off

### Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [501]:
#getting url
url = ('https://www.myntra.com/shoes')
driver.get(url)

In [502]:
#color filter
color_fil = driver.find_element_by_xpath("//span[@data-colorhex = 'black']")
color_fil.click()

In [503]:
#price filter
price_fil = driver.find_element_by_xpath("//ul[@class = 'price-list']/li[2]")
price_fil.click()

In [504]:
#extracting the details
Brand = []
Description = []
Price = []
for i in range(0,2):
    brand = driver.find_elements_by_xpath("//h3[@class ='product-brand']")
    for i in brand:
        Brand.append(i.text)
    descr = driver.find_elements_by_xpath("//div[@class ='product-productMetaInfo']/h4[1]")
    for i in descr:
        Description.append(i.text)
    price = driver.find_elements_by_xpath("//div[@class = 'product-price']")
    for i in price:
        Price.append(i.text)
nextpage = driver.find_element_by_xpath("//li[@class = 'pagination-next']/a")
nextpage.click()

In [505]:
Brand,len(Brand)

(['Nike',
  'Nike',
  'Nike',
  'Nike',
  'Nike',
  'Skechers',
  'Nike',
  'Nike',
  'Nike',
  'ALDO',
  'UNDER ARMOUR',
  'Hush Puppies',
  'UNDER ARMOUR',
  'ADIDAS',
  'Puma',
  'FORCLAZ By Decathlon',
  'Nike',
  'ASICS',
  'Puma',
  'Puma',
  'UNDER ARMOUR',
  'Nike',
  'Puma',
  'UNDER ARMOUR',
  'ADIDAS Originals',
  'ASICS',
  'UNDER ARMOUR',
  'Skechers',
  'ASICS',
  'Reebok',
  'UNDER ARMOUR',
  'Tommy Hilfiger',
  'UNDER ARMOUR',
  'Tommy Hilfiger',
  'ALDO',
  'Kalenji By Decathlon',
  'ALDO',
  'Ruosh',
  'RAPAWALK',
  'J.FONTINI',
  'UNDER ARMOUR',
  'J.FONTINI',
  'Hush Puppies',
  'RAPAWALK',
  'RAPAWALK',
  'Hush Puppies',
  'RAPAWALK',
  'Heel & Buckle London',
  'Ruosh',
  'FILA',
  'Nike',
  'Nike',
  'Nike',
  'Nike',
  'Nike',
  'Skechers',
  'Nike',
  'Nike',
  'Nike',
  'ALDO',
  'UNDER ARMOUR',
  'Hush Puppies',
  'UNDER ARMOUR',
  'ADIDAS',
  'Puma',
  'FORCLAZ By Decathlon',
  'Nike',
  'ASICS',
  'Puma',
  'Puma',
  'UNDER ARMOUR',
  'Nike',
  'Puma',
  'UNDER ARMOUR',
  'ADIDAS Originals',
  'ASICS',
  'UNDER ARMOUR',
  'Skechers',
  'ASICS',
  'Reebok',
  'UNDER ARMOUR',
  'Tommy Hilfiger',
  'UNDER ARMOUR',
  'Tommy Hilfiger',
  'ALDO',
  'Kalenji By Decathlon',
  'ALDO',
  'Ruosh',
  'RAPAWALK',
  'J.FONTINI',
  'UNDER ARMOUR',
  'J.FONTINI',
  'Hush Puppies',
  'RAPAWALK',
  'RAPAWALK',
  'Hush Puppies',
  'RAPAWALK',
  'Heel & Buckle London',
  'Ruosh',
  'FILA'],
 100)

In [506]:
Description,len(Description)

(['Men ZOOM FREAK 2 Basketball',
  'Unisex COSMIC UNITY Basketball',
  'Women PEGASUS 37 Running Shoes',
  'Men JORDAN DELTA Basketball',
  'AIR ZOOM PEGASUS Running Shoes',
  'Men GO RUN 7+ Running Shoes',
  'Men KD13 EP Basketball Shoes',
  'Men JOYRIDE Running Shoes',
  'Women REACT Running Shoes',
  'Women Sandals',
  'HOVR Sonic 3 Running Shoes',
  'Men Solid Leather Formal Slip-Ons',
  'Women HOVR Rise 2 Training',
  'Women SUPERNOVA Running Shoes',
  'Unisex RS-Fast Nano Sneakers',
  'TREKKING 100 Boots',
  'Men JORDAN DELTA Sneakers',
  'Women Running Shoes',
  'Women Eternity Nitro Running',
  'Unisex RS-X Pop Sneakers',
  'Charged Rogue 2 Wide 2E Shoes',
  'Men AIR FLIGHT 89 Sneakers',
  'Men Velocity Nitro Running',
  'Unisex SC 3ZER0 IV Basketball',
  'Men ZX 2K Boost Solid Sneakers',
  'Women Running Shoes',
  'Charged Impulse Running Shoes',
  "Women D'LITES 3.0 Sneakers",
  'Men Running Shoes',
  'Forever Floatride Energy 2',
  'Women HOVR Apex 2 Training',
  'Men Solid Leather Sneakers',
  'Women TriBase Reign 2 Training',
  'Men Solid Leather Sneakers',
  'Women Black Sneakers',
  'Men KD500 Running Shoe',
  'Women Open Toe Flats',
  'Men Textured Derbys',
  'Standard Width Leather Slip Ons',
  'Men Textured Leather Loafers',
  'HOVR Sonic 3 Running Shoes',
  'Men Textured Leather Loafers',
  'Men Solid Leather Formal Slip-Ons',
  'Standard Width Leather Monks',
  'Standard Width Leather Oxfords',
  'Men Formal Derbys',
  'Wide Width Leather Oxfords',
  'Women Peep Toe Heels',
  'Men Formal Leather Brogues',
  'Women Sneakers Casual Shoes',
  'Men ZOOM FREAK 2 Basketball',
  'Unisex COSMIC UNITY Basketball',
  'Women PEGASUS 37 Running Shoes',
  'Men JORDAN DELTA Basketball',
  'AIR ZOOM PEGASUS Running Shoes',
  'Men GO RUN 7+ Running Shoes',
  'Men KD13 EP Basketball Shoes',
  'Men JOYRIDE Running Shoes',
  'Women REACT Running Shoes',
  'Women Sandals',
  'HOVR Sonic 3 Running Shoes',
  'Men Solid Leather Formal Slip-Ons',
  'Women HOVR Rise 2 Training',
  'Women SUPERNOVA Running Shoes',
  'Unisex RS-Fast Nano Sneakers',
  'TREKKING 100 Boots',
  'Men JORDAN DELTA Sneakers',
  'Women Running Shoes',
  'Women Eternity Nitro Running',
  'Unisex RS-X Pop Sneakers',
  'Charged Rogue 2 Wide 2E Shoes',
  'Men AIR FLIGHT 89 Sneakers',
  'Men Velocity Nitro Running',
  'Unisex SC 3ZER0 IV Basketball',
  'Men ZX 2K Boost Solid Sneakers',
  'Women Running Shoes',
  'Charged Impulse Running Shoes',
  "Women D'LITES 3.0 Sneakers",
  'Men Running Shoes',
  'Forever Floatride Energy 2',
  'Women HOVR Apex 2 Training',
  'Men Solid Leather Sneakers',
  'Women TriBase Reign 2 Training',
  'Men Solid Leather Sneakers',
  'Women Black Sneakers',
  'Men KD500 Running Shoe',
  'Women Open Toe Flats',
  'Men Textured Derbys',
  'Standard Width Leather Slip Ons',
  'Men Textured Leather Loafers',
  'HOVR Sonic 3 Running Shoes',
  'Men Textured Leather Loafers',
  'Men Solid Leather Formal Slip-Ons',
  'Standard Width Leather Monks',
  'Standard Width Leather Oxfords',
  'Men Formal Derbys',
  'Wide Width Leather Oxfords',
  'Women Peep Toe Heels',
  'Men Formal Leather Brogues',
  'Women Sneakers Casual Shoes'],
 100)

In [507]:
Price,len(Price)

(['Rs. 7206Rs. 10295(30% OFF)',
  'Rs. 11470Rs. 13495(15% OFF)',
  'Rs. 6996Rs. 9995(30% OFF)',
  'Rs. 12495',
  'Rs. 11495',
  'Rs. 9999',
  'Rs. 12995',
  'Rs. 10496Rs. 14995(30% OFF)',
  'Rs. 8396Rs. 11995(30% OFF)',
  'Rs. 8999',
  'Rs. 7699Rs. 10999(30% OFF)',
  'Rs. 8999',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 6999',
  'Rs. 10995',
  'Rs. 9799Rs. 13999(30% OFF)',
  'Rs. 7149Rs. 12999(45% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 7999',
  'Rs. 7206Rs. 10295(30% OFF)',
  'Rs. 10999',
  'Rs. 8999',
  'Rs. 8399Rs. 13999(40% OFF)',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 7999',
  'Rs. 6999',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 9999',
  'Rs. 11899Rs. 13999(15% OFF)',
  'Rs. 7999',
  'Rs. 8399Rs. 11999(30% OFF)',
  'Rs. 7599',
  'Rs. 8999',
  'Rs. 7857Rs. 8449(7% OFF)',
  'Rs. 8999',
  'Rs. 8990',
  'Rs. 8850',
  'Rs. 6990',
  'Rs. 10999',
  'Rs. 6990',
  'Rs. 9999',
  'Rs. 8850',
  'Rs. 8850',
  'Rs. 9999',
  'Rs. 8850',
  'Rs. 7192Rs. 8990(20% OFF)',
  'Rs. 7490',
  'Rs. 7999',
  'Rs. 7206Rs. 10295(30% OFF)',
  'Rs. 11470Rs. 13495(15% OFF)',
  'Rs. 6996Rs. 9995(30% OFF)',
  'Rs. 12495',
  'Rs. 11495',
  'Rs. 9999',
  'Rs. 12995',
  'Rs. 10496Rs. 14995(30% OFF)',
  'Rs. 8396Rs. 11995(30% OFF)',
  'Rs. 8999',
  'Rs. 7699Rs. 10999(30% OFF)',
  'Rs. 8999',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 6999',
  'Rs. 10995',
  'Rs. 9799Rs. 13999(30% OFF)',
  'Rs. 7149Rs. 12999(45% OFF)',
  'Rs. 7499Rs. 9999(25% OFF)',
  'Rs. 7999',
  'Rs. 7206Rs. 10295(30% OFF)',
  'Rs. 10999',
  'Rs. 8999',
  'Rs. 8399Rs. 13999(40% OFF)',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 7999',
  'Rs. 6999',
  'Rs. 6999Rs. 9999(30% OFF)',
  'Rs. 9999',
  'Rs. 11899Rs. 13999(15% OFF)',
  'Rs. 7999',
  'Rs. 8399Rs. 11999(30% OFF)',
  'Rs. 7599',
  'Rs. 8999',
  'Rs. 7857Rs. 8449(7% OFF)',
  'Rs. 8999',
  'Rs. 8990',
  'Rs. 8850',
  'Rs. 6990',
  'Rs. 10999',
  'Rs. 6990',
  'Rs. 9999',
  'Rs. 8850',
  'Rs. 8850',
  'Rs. 9999',
  'Rs. 8850',
  'Rs. 7192Rs. 8990(20% OFF)',
  'Rs. 7490',
  'Rs. 7999'],
 100)

In [508]:
Myntra_Shoes = pd.DataFrame({})
Myntra_Shoes['Brand'] = Brand
Myntra_Shoes['Shoe Description'] = Description
Myntra_Shoes['Price'] = Price
Myntra_Shoes

,Brand,Shoe Description,Price
0,Nike,Men ZOOM FREAK 2 Basketball,Rs. 7206Rs. 10295(30% OFF)
1,Nike,Unisex COSMIC UNITY Basketball,Rs. 11470Rs. 13495(15% OFF)
2,Nike,Women PEGASUS 37 Running Shoes,Rs. 6996Rs. 9995(30% OFF)
3,Nike,Men JORDAN DELTA Basketball,Rs. 12495
4,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
...,...,...,...
95,Hush Puppies,Men Formal Derbys,Rs. 9999
96,RAPAWALK,Wide Width Leather Oxfords,Rs. 8850
97,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990(20% OFF)
98,Ruosh,Men Formal Leather Brogues,Rs. 7490
99,FILA,Women Sneakers Casual Shoes,Rs. 7999

### Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
 After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [686]:
url = ('https://www.amazon.in/')
driver.get(url)

In [687]:
search_bar = driver.find_element_by_id('twotabsearchtextbox')
search_bar.click()

In [688]:
search_bar.send_keys('Laptop')

In [694]:
search_button = driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [696]:
#cpu filters
filters = driver.find_elements_by_xpath("//span[@class = 'a-size-base a-color-base']")
for i in filters:
    if i.text == 'Intel Core i7':
        i.click()
    elif i.text =='Intel Core i9':
            i.click()

In [535]:
title_tag= driver.find_elements_by_xpath("//span[@class ='a-size-medium a-color-base a-text-normal']")
price_tag=driver.find_elements_by_xpath("//span[@class ='a-price-whole']")
Model=[]
Price=[]
for title in title_tag:
    Model.append(title.text)
for price in price_tag:
    Price.append(price.text)

In [536]:
Model

['Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'MSI GF75 Lepoard, Intel i7-10750H, 17.3" (43.92cms)FHD Gaming Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX 1660Ti/Black/2.3Kg), 10SDR-480IN',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM (Upgradable to 16)/1TB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Fingerprint Reader/Black/Aluminium Surface/ 1.7 kg), 20TDS0G100',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Dell Inspiron 5410 14" FHD Touch Display 2in1 Laptop (i7-1165G7 / 16GB / 512GB SSD / Integrated Graphics / Win 10 + MSO / Backlit KB + FPR + Active Pen / Silver Metal Color) D560469WIN9S',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/1TB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/1TB SSD/Windows 10/MS Office/NVIDIA MX450 2GB Graphics/FPR/Black/Aluminium Surface/ 1.7 kg), 20TDS0G200',
 'Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 inch Full HD IPS Thin and Light Laptop (8GB/512GB SSD/Windows 10/MS Office 2019/NVIDIA MX350 2GB GDDR5 Graphics/Slate Grey/1.55Kg), 82A1009KIN',
 'Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FHD 120 Hz (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560260WIN9BE',
 'HP Envy x360 Convertible Touchscreen 13.3-inch FHD Laptop (11th Gen Intel Core i7-1165G7/16GB/512GB SSD/Win 10 Home/Alexa Built-in/Pale Gold/1.32kg), 13-bd0063TU',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM(Upgradable to 16)/256GB SSD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS']

In [538]:
Price

['26,990',
 '84,990',
 '59,999',
 '84,999',
 '86,990',
 '77,990',
 '78,990',
 '97,990',
 '92,185',
 '90,400',
 '77,175',
 '1,12,900',
 '50,999',
 '90,733',
 '90,990',
 '50,499',
 '39,000',
 '1,05,990',
 '83,990',
 '86,290',
 '1,02,990',
 '51,999',
 '2,69,990']

In [562]:
rating_tag=driver.find_elements_by_xpath("//span[@class ='a-icon-alt']")
rating_tag

[<selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="b7d06df1-2c0e-4721-8720-d398fcb8a17d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="8a3a3fa8-90dd-4532-b4bb-c2003ef8ce1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d578fa29-a799-46a5-8fb7-178614a61816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1def1f57-301a-4d92-91fe-2872c56b77a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6da3f0e3-fb41-4692-9459-6043e43ee6b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="7e248241-e518-49f7-8d3e-842e895eb906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="6a528a69-1306-4a04-8134-d4b89bf57694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="cdee91e1-e78f-40fb-bca3-73e912127875")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f098b378-b9f0-4e0b-b12c-266a6a88ca71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3edc51c9-39f9-4aee-adc4-1e846fed85f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="07528ad0-dcf2-4af0-aa14-19e8de617c71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="e832b389-1057-4cbd-a2c4-bccf6dcf3dd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1fe9369d-82ee-4883-8aea-50711ec3cca3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="52dd4343-b27f-4435-8e61-c3eb438c3533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="3316521c-94ee-4ecb-a9bd-d496f182cbad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f08391b0-aed0-45fb-a469-5b6cd6a3872a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="f261efc1-88e4-4345-b790-e775c98b266c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="369568b3-b056-4efe-a72e-b697eeebe510")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="487a683b-fb95-4f3d-8987-c77ee5812460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="1aec8d9a-bd12-4cbe-9ef3-e0f59b4596b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="d8f14eb8-2cd4-400a-b18e-95537ef586a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9f8624d1a4d9e5af9e6f32dcfe3a2d0a", element="43b794bb-ae23-4be4-8869-170a5bbcfc06")>]

In [564]:
Rating=[]
for i in rating_tag:
    Rating.append(i.text)
Rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

Unable to fetch rating even after trying multiple classes

In [563]:
Amazon = pd.DataFrame({})
Amazon['Title'] = Model[:10]
##Amazon['Rating'] = Rating[:10]
Amazon['Price'] = Price[:10]
Amazon

                                               Title   Price
0  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  26,990
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999
3  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...  84,999
4  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  86,990
5  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  77,990
6  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,990
7  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...  97,990
8  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...  92,185
9  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  90,400