In [3]:
#importing libraries
import selenium 
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from bs4 import BeautifulSoup as bs

In [154]:
#importing driver
driver=webdriver.Chrome(r'C:\Users\Alby\Desktop\chromedriver\chromedriver.exe')

In [159]:


urls=['https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=01%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=516562907365',
     'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1634595103612&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=03%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1634595141788&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=04%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1634595187823&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1634595211470&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=06%2F11%2F2021&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1634595231108&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=01%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1259236411593&version=1.1&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1634595311407&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=06%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1634595329737&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=07%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1634595358992&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=PNQ&originCountry=IN&destination=GOI&destinationCountry=IN&flight_depart_date=03%2F11%2F2021&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1003586171971',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GAU&destinationCountry=IN&flexi=0&flight_depart_date=05%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1434152896977&version=1.1&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GAU&destinationCountry=IN&flexi=0&flight_depart_date=07%2F11%2F2021&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1634646196290&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=AMD&destinationCountry=IN&flexi=0&flight_depart_date=07%2F11%2F2021&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=906142439247&version=1.1&viewName=normal',
      'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=AMD&destinationCountry=IN&flexi=0&flight_depart_date=10%2F11%2F2021&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1634646260786&viewName=normal']

In [160]:
airline=[]
date=[]
destination=[]
departure=[]
arrival=[]
duration=[]
source=[]
stops=[]
fare=[]

for i in urls:
    driver.get(i)
    ##time.sleep(3)
    
    #scrolling to end of page
    for i in range(1,25):
        time.sleep(4)
        driver.execute_script("window.scrollBy(0, 1000)") 
    day=driver.find_element_by_xpath("//div[@class='day-li text-center cursor-pointer pr active font-primary-color']/p")
    name=driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
    for j in name:
        airline.append(j.text)
        date.append(day.text)
        ##time.sleep(3)
        
    dep=driver.find_elements_by_xpath("//div[@class='fs-15 bold time']/div")
    for de in dep:
        departure.append(de.text)
        time.sleep(4)
    
    arr=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
    for ar in arr:
        arrival.append(ar.text)
    
    dur=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
    for du in dur:
        duration.append(du.text)
    
    sou=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
    for so in sou:
        source.append(so.text)
    
    des=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    time.sleep(4)
    
    for j in des:
        dest=j.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
        destination.append(j.text)
        
        
    price=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    for pr in price:
        fare.append(pr.text)
    
    st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
    time.sleep(3)
    
    for s in st:
        
        stops.append(s.text)

In [195]:
arrival2=[]
destination2=[]
fare2=[]
stops2=[]
day=[]
date2=[]

for i in arrival1:
    if '\n+ 1 day' in i:
        arrival2.append(i.replace('\n+ 1 day',''))
    else:
        arrival2.append(i)
        
for j in destination1:
    destination2.append(j.split('\n')[-1])

for k in fare1:
    fare2.append(k.replace(',',''))
    
for l in stops1:
    stops2.append(l.split(' ')[0])

for m in date1:
    day.append(m.split(',')[0])
    date2.append(m.split(',')[1])

In [197]:
df=pd.DataFrame({})
df['Airline']=airline1
df['Day']=day
df['Date']=date2
df['Departure']=departure1
df['Arrival']=arrival2
df['Duration']=duration1
df['Source']=source1
df['Destination']=destination2
df['Stops']=stops2
df['Fare']=fare2
df

,Airline,Day,Date,Departure,Arrival,Duration,Source,Destination,Stops,Fare
0,Air Asia,Mon,1 Nov,21:25,06:45,9h 20m,New Delhi,Mumbai,1,5953
1,Air Asia,Mon,1 Nov,21:25,07:15,9h 50m,New Delhi,Mumbai,1,5953
2,Air Asia,Mon,1 Nov,20:45,06:45,10h 00m,New Delhi,Mumbai,1,5953
3,Air Asia,Mon,1 Nov,20:45,07:15,10h 30m,New Delhi,Mumbai,1,5953
4,Air Asia,Mon,1 Nov,18:35,06:45,12h 10m,New Delhi,Mumbai,1,5953
...,...,...,...,...,...,...,...,...,...,...
1595,Vistara,Fri,5 Nov,12:20,12:05,23h 45m,Bangalore,Guwahati,2,19936
1596,SpiceJet,Fri,5 Nov,15:05,21:30,6h 25m,Bangalore,Guwahati,1,20054
1597,IndiGo,Fri,5 Nov,22:40,09:40,11h 00m,Bangalore,Guwahati,1,22453
1598,Vistara,Fri,5 Nov,06:40,17:30,10h 50m,Bangalore,Guwahati,2,26254
1599,Air Asia,Sun,7 Nov,15:35,20:55,5h 20m,Bangalore,Guwahati,1,8400

In [200]:
df.to_csv('flighprice.csv')